@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Marcellus&family=Martel:wght@400;600;700;900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

body .parent h1 {
  font-family: "Jacques Francois", serif;
  font-size: 36px;
}

body .parent h2 {
  font-family: "Martel", serif;
  font-size: 21px;
}

body .parent p {
  font-family: "Marcellus", serif;
  font-size: 18px;
  line-height: 1.4;
}

body .parent a {
  font-family: "Marcellus", serif;
  font-size: 18px;
  color: #181952;
}

body .parent a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .parent a p {
  margin: 0;
  margin-left: 0.5vmax;
}

body .parent a:nth-of-type(even) {
  margin-left: 1.25vmax;
}

body .parent h1,
body .parent p,
body .parent a {
  color: #eef4fb;
}

body .parent h2 {
  color: #c4d7ed;
}

body .parent .layout-left,
body .parent .layout-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .parent .layout-left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: 1px solid red;
  width: 40vw;
  background: #183152;
}

body .parent .layout-left .margins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75%;
  width: 65%;
  border: 2px solid green;
  padding-right: 1.25vmax;
  margin-top: 15vh;
}

body .parent .layout-left .margins-bottom {
  width: 100%;
  height: 25%;
  background: #244979;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .parent .layout-left .margins-bottom div {
  width: 65%;
  margin-top: 0.5vmax;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .parent .layout-left .margins-bottom div p {
  margin-bottom: 0.5vmax;
}

body .parent .layout-left .margins-bottom div footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .parent .layout-left .margins-bottom div footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1023px) {
  body .parent .layout-left .margins {
    width: 90%;
  }
}

body .parent .layout-right {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid blue;
  width: 60vw;
}

body .parent .layout-right .margins {
  height: 75vh;
  width: 65%;
  margin-left: 5vmax;
  border: 2px solid yellow;
}

@media (max-width: 1023px) {
  body .parent .layout-right .margins {
    width: 90%;
  }
}

@media (max-width: 1023px) {
  body .parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}

@media (max-width: 480px) {
  body .parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}

header img {
  width: 6.25vmax;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */