//import
@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Marcellus&family=Martel:wght@400;600;700;900&display=swap");

//vars
$font-heading: "Jacques Francois", serif;
$font-subhead: "Martel", serif;
$font-body: "Marcellus", serif;
$clr-primary: #183152;
$clr-sceondary: #244979;
$clr-white-darker: #c4d7ed;
$clr-white: #eef4fb;
$desktop-bp: 1024px;
$tablet-bp: 1023px;
$mobile-bp: 480px;
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//global
body {
  .parent {
    display: flex;
    height: 100vh; //debug
    //fonts
    h1 {
      font-family: $font-heading;
      font-size: 36px;
    }
    h2 {
      font-family: $font-subhead;
      font-size: 21px;
    }
    p {
      font-family: $font-body;
      font-size: 18px;
      line-height: 1.4;
    }
    a {
      font-family: $font-body;
      font-size: 18px;
      color: adjust-hue($clr-primary, 25%);
    }
    //link
    a {
      //border-bottom: 2px solid $clr-white-darker;
      text-decoration: none;
      display: flex;
      align-items: center;
      p {
        margin: 0;
        margin-left: 0.5vmax;
      }
    }
    a:nth-of-type(even) {
      margin-left: 1.25vmax;
    }
    //font color
    h1,
    p,
    a {
      color: $clr-white;
    }
    h2 {
      color: $clr-white-darker;
    }
    .layout-left,
    .layout-right {
      //desktop
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .layout-left {
      align-items: flex-end;
      border: 1px solid red; //debug
      width: 40vw;
      background: $clr-primary;
      .margins {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75%;
        width: 65%;
        border: 2px solid green; //debug
        padding-right: 1.25vmax;
        margin-top: 15vh;
      }
      //footer
      .margins-bottom {
        width: 100%;
        height: 25%;
        background: $clr-sceondary;
        display: flex;
        justify-content: flex-end;
        div {
          width: 65%;
          margin-top: 0.5vmax;
          justify-content: flex-start;
          p {
            margin-bottom: 0.5vmax;
          }
          footer {
            display: flex;
            flex-direction: column;
            nav {
              display: flex;
              align-items: center;
            }
          }
        }
      }

      @media (max-width: $tablet-bp) {
        .margins {
          width: 90%;
        }
      }
    }
    .layout-right {
      align-items: flex-start;
      border: 1px solid blue; //debug
      width: 60vw;
      .margins {
        height: 75vh;
        width: 65%;
        margin-left: 5vmax;
        border: 2px solid yellow; //debug
      }
      @media (max-width: $tablet-bp) {
        .margins {
          width: 90%;
        }
      }
    }
  }
  @media (max-width: $tablet-bp) {
    .parent {
      flex-direction: column;
      width: 90%;
    }
  }
  @media (max-width: $mobile-bp) {
    .parent {
      flex-direction: column;
      width: 90%;
    }
  }
}

//header
header {
  img {
    width: 6.25vmax;
  }
  nav {
    display: flex;
    align-items: center;
  }
}
